.message {
  margin-top: 200px;
  font-size: 2em; /* Tamaño de la letra más grande */
  font-weight: bold; /* Texto en negrita */
  color: rgb(84, 16, 245); /* Color opcional, por ejemplo rojo */
}

.logo {
  border-radius: 100%;
  border: 3px solid rgb(84, 16, 245);
  cursor: pointer;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  border: 2px solid rgb(84, 16, 245);
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  height: 40px;
  color: black;
}

.boton:hover {
  background-color: rgb(84, 16, 245);
  color: white;
  text-decoration: none;
}

.product-name {
  text-wrap: balance;
}

.product-items {
  font-weight: 500;
  font-size: 18px;
}
